/* style.css */

/* لوگو */
.navbar-brand img {
    max-width: 100%;
    height: auto;
}

/* نوار جستجو */
form.d-flex {
    display: flex;
    align-items: center;
}

/* دکمه جستجو */
form.d-flex .btn {
    border-radius: 0;
}

/* منوی ناوبری */
.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-item .nav-link {
    margin-left: 15px;
    margin-right: 15px;
}

/* آیکون سبد خرید */
.nav-item .bi-cart {
    font-size: 1.5rem;
}
